* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #111222;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.cmp-container {
  width: 100%;
  margin-top: 7%;
  padding: 10px;
  height: 120px;
}
.tml-cmp-title {
  font-size: 3rem;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 25px;
}
.tml-text-text {
  font-size: 1.2rem;
  width: 80%;
  height: 10vh;
  text-wrap: wrap;
}
.Graphite p {
  font-size: 1.2rem;
  color: white;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-left: 27%;
}
.cities {
  width: 100%;
  height: auto;
  color: white;
}
hr{
  border: 1px solid white;
  margin: 50px;
  margin-top: 3%;
}
.city {
  /* font-size: 20px; */
  font-size: 1.2rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 30px; */
  margin-left: 3%;
}
form {
  margin-top: 20px;
}
.showroom {
  font-size: 30px;
}
.tata-showroom {
  font-size: 22px;
  height: 4vh;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.tata-showroom option {
  font-size: 25px;
  height: 3.7vh;
  /* border-radius: 12px; */
  background-color: transparent;
  border: 1px solid white;
  color: black;
}
.test-drive img{
  width: 40%;
  margin-top: 5%;
  margin-left: 30%;
}

.card-body{
  padding: 20px;
  width: 40%;
  margin-left: 32%;
  color: white;
}
.card-title{
  font-size: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card-subtitle{
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 300;
margin-top: -30px;
}
.card-text{
  font-size: 20px;
  text-align: center;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
margin-top: -30px; 
}
.submit-input {
  display: inline-block;
  background-color: transparent;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 22px;
  width: 22%;
  margin-left: 35%;
  margin-top: 5%;
  font-size: 20px;
  transition: 0.5 ease-in-out;
}

.submit-input:hover {
  background: #353750;
  color: white;
}


/* ==========================query sextion================ */


section .registration-from{
  margin-left: 10px;
}

input,
textarea,
select,
button {
  font-family: arial;
  color: white;
  font-size: 30px;
}

input {
  padding: 10px;
  background: transparent;
  border: 2ps solid white;
  color: white;
}
input::after ::placeholder{
  background: transparent;
  color: white;
}

.registration-from  p,
.registration-from h1,
.registration-from h2,
.registration-from h3,
.registration-from h4,
.registration-from h5,
.registration-from h6,
.registration-from ul {
  margin: 0;
  color: white;
  /* font-size: 20px; */
}



ul {
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.question{
  padding: 20px;
  width: 43%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 29%;
}
.question h2{
  font-size: 45px;
}
.question h3{
  font-size: 17px;
  margin-top: 20px;
}
.inner {
  padding: 20px;
  background: #111222;
  /* max-width: 850px; */
  width: 850px;
  margin: auto;
  /* margin-top: 20px; */
  display: flex;
}
.inner .image-holder {
  width: 50%;
}
.inner form {
  width: 600px;
  padding: 5%;
  border-radius: 12px;
  padding-top: 36px;
  /* padding-left: 45px;
  padding-right: 45px; */
  margin-left: -30%;
  margin-top: 8%;
  border: 2px solid white;
  
}
.inner h3 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 28px;
}
.inner h2{
  text-align: center;
  font-size: 17px;
  margin-bottom: 25px;
}
.form-group {
  display: flex;
}
.form-group input {
  width: 50%;
  font-size: 15px;
}
.form-group input:first-child {
  margin-right: 25px;
}
.form-wrapper {
  display: flex;
}
.form-wrapper input {
  width: 50%;
}
.form-wrapper input:first-child {
  margin-right: 25px;
}

/* .form-wrapper {
  position: relative;
}
.form-wrapper i {
  position: absolute;
  bottom: 9px;
  right: 0;
} */

.form-control {
  border: 1px solid #fffdfd;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 17px;
  padding: 0;
  background: transparent;
  color: white;
  margin-bottom: 25px;
}
.form-control option{
  color: black;
}
.form-control::-webkit-input-placeholder {
  font-size: 15px;
  color: rgb(226, 218, 218);
  font-family: arial;
}

select {
  font-size: 15px;
  font-family: arial;
  cursor: pointer;
  padding-left: 20px;
  color: gray;
}
select option[value=""][disabled] {
  display: none;
}

button {
  border: none;
  width: 150px;
  height: 55px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 35px;
  background: #353750;
  font-size: 25px;
  color: #fff;
}
button:hover {
  background: black;
  color: white;
}
.checkbox {
  font-size: 17px;
  color: white;
}
.terms {
  font-size: 17px;
  margin-top: 8px;
}
.terms a {
  text-decoration: none;
  font-size: 17px;
}
.check {
  font-size: 23px;
  margin-top: 8px;
}
#checkbox {
  font-size: 15px;
}
.calling{
  margin-top: 95.3%;
    margin-left: 50%;
    padding: 20px;
    width: 37%;
    height: 93vh;
    border-radius: 12px;
    color: white;
    border: 1px solid white;
}
.call h2{
  font-size: 35px;
  font-weight: 550;
  /* text-align: center; */
  margin-bottom: 20px;
}
.call h3{
  font-size: 19px;
  margin-top: 20px; 
  font-weight: 300;
  /* text-align: center; */
}
.call2{
  margin-top: 60px;
}
.call1 h3 {
  font-size: 22px;
  color: #b5bbc4;
  /* margin-top: 50px; */
}
.call1 h4 {
  font-size: 20px;
  
}

@media (max-width: 767px) {
  .inner {
    display: block;
  }
  .inner .image-holder {
    width: 100%;
  }
  .inner form {
    width: 100%;
    padding: 40px 0 30px;
  }

  button {
    margin-top: 60px;
  }
}


/* ==========================FOOTER SECTION========================= */
.containe{
    max-width: 1170px;
    margin:auto;
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
ul .foot{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 5%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #393f7f;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links1 a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
/* .fab{
  font-size: 20px;
} */
.footer-col .social-links1 a:hover{
    color: #24262b;
    background-color: #ffffff;
}
