@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
:root{
    --primary-color: #8e4f18;
    --white:#ffffff;
    --max-width: 1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    font-family: "Fredoka" , sans-serif;
    margin: 0;
    padding: 0;
    background: #111222;
    box-sizing: border-box;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-position: center;
    background-size: center;
    position: relative;
  }
  
  .navbar {
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 12%;
    margin-top: -10px;
    cursor: pointer;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 12px;
    /* margin: 20px; */
  }
  
  /* .nav__list{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #33333327;
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav__list li{
    width: 100%;
  } 
  .nav___close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .nav__toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  } */
  
  .navbar ul li a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    /* padding: 0 10px; */
    margin: 0 20px;
    position: relative;
    font-size: 22px;
    padding-bottom: 6px;
    font-weight: 600;
  }
  
  .navbar a:hover {
    color: #fff;
  }
  
  .navbar a::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.6s;
  }
  
  .navbar a:hover::before {
    width: 100%;
  }
  
  
  /* ----------------------------------------------------------- */
  .navbar .profile {
    list-style: none;
    text-decoration: none;
    display: inline-block;
  }
  
  .navbar li a i {
    text-decoration: none;
    font-size: 27px;
    justify-content: end;
    align-items: center;
    padding: 10px;
    list-style: none;
    display: inline-block;
    /* margin: 12px; */
    /* background-color: transparent; */
    color: #fff;
  }
  
  /* ------------------------------------------------------------------ */
  .content {
    width: 100%;
    position: absolute;
    color: white;
    /* top: 45%; */
    bottom: -1%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
  }
  
.header{
    height: 100vh;
    font-family: "Fredoka" , sans-serif;
    background-image: url(sevice.jpg);
    background-position: center center;
    /* background-size: 100% 120vh; */
    background-repeat: no-repeat;
    object-fit: cover;
/* Suggested code may be subject to a license. Learn more: ~LicenseLog:3110231197. */
    opacity: 0.8 rgba(0, 0, 0, 0.4);
    position: relative;
    /* position: absolute; */
    background-size: cover;   
    /* z-index: 0;  */
}
.container{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: auto;
    overflow: hidden;
}
.section__container{
    flex: 1;
    /* width: 100%; */
    position: relative;
    isolation: isolate;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__container h1,
.section__container h2{
    font-size: 5rem;
    font-weight: 500;
    margin: 20px;
    margin-left: 40px;
    color: var(--white);
    line-height: 4rem;
}
.section__container h2{
    font-size: 4rem;
}
.section__container h1{
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    -webkit-text-stroke: 3px var(--white);
    /* -webkit-text-stroke: 2px black; */
}
button{
    margin: 0;padding: 0;
    border-radius: 0;
}
.section__container button {
    max-width: fit-content ;
    margin-block: 5rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 50px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--white);
    cursor: pointer;
}
.section__container button span{
    padding: 10px 25px;
    font-size: 1.5rem;
    /* border-radius: 12px; */
    color: black;
    background-color: var(--white);
}
.section__container button:hover{
    background-color: var(--white);
    transition: 0.3s;
    /* color:var(--primary-color); */
    color:black;
}
/* ==============================SECTION=============================== */
.services{
    margin-top: -20%;
}
.service-box1{
    width: 100%;
    height: 90vh;
    /* z-index: 1; */
}
/* .service-box1__content{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    color: white;
   }
   .service-box1__content h1{
       font-size: 2rem;
       margin-left: 10%;
       margin-top: 12%;
       font-weight: 600;
   }
   .service-box1__content p {
       font-size: 2rem;
       margin-left: 19%;
       margin-top: 4%;
       text-wrap: wrap;
   } */

 .service-box1__content{
    margin: 20px;
    margin-top: 20%;

 }  
 .service-box1__content h1 , 
 .service-box2__content h1{
    font-size: 3rem;
    margin-top: 10px;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    justify-content: center;
    align-items: center;
 }
 
 .service-box1__content p{
  color: white;
  font-size: 22px;
  width: 55%;
  text-wrap: wrap;
  margin-top: 17px;
  margin-left: 25%;
 }
 .service-box2__content h1{
  margin-top: 10%;
 }
 .service-box2__content p{
  color: white;
  font-size: 22px;
  width: 55%;
  text-wrap: wrap;
  margin-top: 17px;
  margin-left: 25%;
 }
/* ========================SERVICES IMAGES=========================================== */
/* .service-box__image{
  width: 100%;
  background: #111222;
} */
.service-box__img img {
  /* background-image: url('extended\ wrantty.jpg'); */
  width: 600px;
height: 400px;
margin-left: 7rem;
}
.service-box__img1 h1  ,
.service-box__img1 p{
  width: 450px;
  height: 250px;
  margin-left: 50rem;
  margin-top: -22.5rem;
  color: white;
}
.service-box__img1 h1 {
  font-size: 30px;
  font-weight: 500;
}
.service-box__img1 p{
  font-size: 22px;
  margin-top: -13%;
}

/* ==============image 2======================= */
.service-box__img2 img {
  /* background-image: url('extended\ wrantty.jpg'); */
  width: 600px;
height: 400px;
margin-left: 45rem;
margin-top: 7rem;
}
.service-box__img2 h1  ,
.service-box__img2 p{
  width: 450px;
  height: 250px;
  margin-left: 10rem;
  margin-top: -20.5rem;
  color: white;
}
.service-box__img2 h1 {
  font-size: 30px;
  font-weight: 500;
}
.service-box__img2 p{
  font-size: 22px;
  margin-top: -13%;
}
/* =====================image 3 =================================== */
.service-box__img3 img {
  /* background-image: url('extended\ wrantty.jpg'); */
  width: 600px;
height: 400px;
margin-left: 7rem;
margin-top: 6rem;
}
.service-box__img3 h1  ,
.service-box__img3 p{
  width: 450px;
  height: 250px;
  margin-left: 50rem;
  margin-top: -22.5rem;
  color: white;
}
.service-box__img3 h1 {
  font-size: 30px;
  font-weight: 500;
}
.service-box__img3 p{
  font-size: 22px;
  margin-top: -13%;
}

/* ==============image 2======================= */
.service-box__img4 img {
  /* background-image: url('extended\ wrantty.jpg'); */
  width: 600px;
height: 400px;
margin-left: 45rem;
margin-top: 7rem;
}
.service-box__img4 h1  ,
.service-box__img4 p{
  width: 450px;
  height: 250px;
  margin-left: 10rem;
  margin-top: -20.5rem;
  color: white;
}
.service-box__img4 h1 {
  font-size: 30px;
  font-weight: 500;
}
.service-box__img4 p{
  font-size: 22px;
  margin-top: -13%;
}

/* =============================================================== */
.fqa-section_1{
  width: 33rem;
  margin-left: -7rem;
}
.fqa-section{
  /* background: #111222; */
  color: white;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem   0rem;
}

.faq{
  min-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h3{
  font-size: 1.8rem;
  font-weight: 400;
}
.answer{
  max-height: 0;
  overflow: hidden;
  font-weight: 400;
  transition: max-height 1s ease;
}
.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.4rem;
}
.faq.active .answer{
  max-height: 300px;
}
.faq.active svg{
  transform:rotate(180deg) ;
}
svg{
  transition: transform 0.5s ease-in;
}
/* ==========================FOOTER SECTION========================= */
.containe {
  max-width: 1170px;
  margin: auto;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

ul .foot {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 22px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #393f7f;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links1 a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

/* .fab{
  font-size: 20px;
} */
.footer-col .social-links1 a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

